.header {
    background-image:
        linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('resources/Banner\ Image.png');
    background-position: center;
    align-items: center;
    background-size: 1200px;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.banner-container {
    max-width: 400px;
    padding: 150px;
    margin: 50px 140px;
    text-align: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    margin: auto;
}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    line-height: 95px;

}

.banner-short-heading {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: -30px;
}

/* Banner section ended */

/* Holiday deals section start */

.holiday-deals-container {
    display: block;
    align-items: center;
    text-align: center;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

.holiday-deals-info h1 {
    color: #F00;
    text-align: center;
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
}

.holiday-deals-info p {
    color: #F00;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top: 46px;
}

.holiday-deals-info h3 {
    color: #070211;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
}

.holiday-deals-image {
    width: 700px;
    height: 500px;
    align-items: center;
    margin: 0 auto;
    margin-left: 350px;
}

/* Holiday section end from here */

/* Banner 2 section start from here */

.banner-2 {
    background-image:
    linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('resources/Vectorrr.png');
    background-position: center;
    align-items: center;
    background-size: 1200px;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 120px;
    border-radius: 16px;

}

.banner-2-container {
    width: 80%;
    display: flex;
    font-family: 'Merriweather', serif;
}

.banner-2-info {
    margin-left: 256px;
    margin-top: 126px;
    /* margin-right: 692px; */
}

.banner-heading-2 {
    color: #FFF;
    font-size: 61px;
    font-style: normal;
    font-weight: 900;
}

.banner-img {
    align-items: center;
    width: 120px;
    margin-top: 68px;
    margin-right: 170px;
}

.banner-desc {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: -24px;
}

.banner-btn {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
}