.header {
    background-image:
        linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('resources/Banner\ Image.png');
    background-position: center;
    align-items: center;
    /* background-size: 1200px; */
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50px;
}

.banner-container {
    max-width: 400px;
    padding: 150px;
    margin: 50px 140px;
    text-align: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    margin: auto;
}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    line-height: 95px;

}

.banner-short-heading {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: -30px;
}

/* Banner section ended */

/* Holiday deals section start */

.holiday-deals-container {
    display: block;
    align-items: center;
    text-align: center;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

.holiday-deals-info h1 {
    color: #F00;
    text-align: center;
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
}

.holiday-deals-info p {
    color: #F00;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top: 46px;
}

.holiday-deals-info h3 {
    color: #070211;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
}

.holiday-deals-image {
    width: 700px;
    height: 500px;
    align-items: center;
    margin: 0 auto;
    margin-left: 350px;
}

/* Holiday section end from here */

/* Banner 2 section start from here */

.banner-2 {
    background-image:
        linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('resources/Vectorrr.png');
    background-position: center;
    align-items: center;
    background-size: 1200px;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 120px;
    border-radius: 16px;

}

.banner-2-container {
    width: 80%;
    display: flex;
    font-family: 'Merriweather', serif;
}

.banner-2-info {
    margin-left: 256px;
    margin-top: 126px;
}

.banner-heading-2 {
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 7px;
}

.banner-img {
    align-items: center;
    width: 80px;
    margin-top: 68px;
    margin-right: 190px;
}

.banner-desc {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: -24px;
}

.banner-btn {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
}

/* Banner 2 Ended */

/* Address Section Started */

.address-container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding: 120px;
    margin: 130px;
    border-radius: 16px;
}

.address-heading {
    color: black;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.address-first-word {
    color: red;
}

.address-btn {
    padding: 16px 32px;
    background-color: red;
    color: white;
    border: none;
    align-items: center;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid red;
    cursor: pointer;
}

.address-btn:hover{
    background-color: rgb(211, 1, 211);
    color: white;
    border: 2px solid black;
}

/* Address Section End */

/* Coming Soon Section Started */

.coming-soon-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 130px;
    margin-right: 140px;
    max-width: 99%;
    align-items: center;
    gap: 50px;
}

.left-coming-soon-content {
    width: 37%;
    margin-left: 16px;
}

.middle-coming-soon-content {
    align-items: center;
    margin-left: 70px;
    margin-right: 140px;
    max-width: 33%;
    margin: auto;
    margin-top: 15px;
}

#coming-soon-left-short-heading {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -16px;
    text-align: left;
}

#coming-soon-left-heading {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
}

#coming-soon-left-paragraph {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.middle-coming-soon-content img {
    border: 15px solid #f00;
    border-radius: 463px;
    padding: 40px;
    margin: auto;
}

.right-coming-soon-content {
    width: 33%;
    padding-left: 30px;
}

#coming-soon-right-heading {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#coming-soon-right-paragraph {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

/* Coming Soon Section Ended */

/* Holiday Section 2 Started */

.holiday-sale-2-content {
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.holiday-sale-2-content h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.holiday-sale-2-content h1 {
    color: black;
    text-align: center;
    font-family: Merriweather;
    font-size: 65px;
    font-weight: 900;
    margin-top: -12px;
    margin-bottom: 13px;
}

.holiday-sale-2-content p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

/* Holiday Banner Ended */

/* Holiday Banner Started */

.holiday-50-container {
    display: flex;
    justify-content: center;
    /* margin: auto; */
    margin-left: 70px;
    margin-right: 140px;
}

.holiday-50-banner {
    background-image: url('resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 6px;
    background-size: 1300px;
}

.women-img {
    margin-left: -170px;
    margin-bottom: 225px;

}

.discount-50 {
    z-index: 1;
    margin-left: -10px;
}

.gift-box {
    align-items: center;
}

/* Awesome Portfolio Section Start from here */

.awesome-portfolio-container {
    margin: 0;
    margin-left: 200px;
    margin-top: 110px;
}

.awesome-portfolio-container h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: auto;

}

.awesome-portfolio-container h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.awesome-portfolio-container p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.awesome-portfolio-images-container {
    display: inline;
}

.awesome-portfolio-images {
    margin-left: 140px;
}

.awesome-portfolio-images img {
    padding: 7px;
}

/* Awesome Portfolio Section End From here */

/* Newsletter start from here */

.news-letter-container {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-left: 140px;
    text-align: center;
    align-items: center;
    margin-right: 70px;
    padding: 20px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.news-letter-container h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.news-letter-container p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

#mewsletter-email {
    padding: 20px;
    padding-right: 130px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
}

.news-letter-container button {
    padding: 20px;
    margin-left: -6px;
    border-end-end-radius: 50px;
    border-top-right-radius: 50px;
    padding-right: 80px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 16px;
    border: none;
    align-items: center;
    background-color: red;
    cursor: pointer;
}

.news-letter-container button:hover{
    background-color: rgb(218, 5, 218);
}

/* Newsletter section end from here */

/* Footer section start from here */

.footer-container {
    background: #070211;
    padding-left: 140px;
    padding-right: 90px;
    padding-top: 120px;
}

.first-footer-content {
    display: flex;
    justify-content: space-between;
    color: white;
}

.first-heading-one h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.footer-email {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-right: 30px;
    /* margin-top: -25px; */
}

.footer-phone {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-right: 30px;
}

.second-footer-content {
    align-items: center;
    margin: auto;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer-social-icons {
    padding-right: 10px;
}

hr {
    border-color: rgba(255, 255, 255, 0.15);
}

.third-footer-content {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

.third-heading-one h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.third-heading-two h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}